<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <%if(!user){%>
    <a href="/register"><p>Register new user</p></a>
    <a href="/log-in"><p>Login</p></a>
    <%}else{%>
    <p>Welcome <%=user%></p>

    <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" name="file_uploaded" />
      <input type="submit" value="submit" />
    </form>
    <a href="/folder">Create folders</a>
    <a href="/log-out"><p>Log out</p></a>
    <%}%>
  </body>
</html>
